

<head class="p-3 mb-2 bg-dark text-warning">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
     h1{font-family: 'Josefin Sans', sans-serif;}
      
     </style>
    <h1>Creator page   </h1>
    

</head>
<body>
    <hr>
    
    
    <form method='post' action='/MarvelComics'>
        <h1>Enter comics id:</h1>
        <input type="text" name="comicID">
        <input type="submit">
    </form>
    <% if (resultData==null){ %>
        
        <%= JSON.stringify(resultData) %>
        <hr>
        No comics to display
    <% }else{ %>
        
        <hr>
       
       <ul class='creator list'>
        <% for(rd of resultData) {%>
           <li>
                <h1><%= rd.title %></h1>
                    <%= rd.description%> 
                    <%= rd.id %> 
                    <!-- <%= rd.resourceURI %>  -->
                <hr>

               <img src="<%= rd.thumbnail.path %>/landscape_medium.jpg" width="300" alt="comicImg">
               
            </li>
            <hr>
         <% } %>
       </ul>


    
    <%} %>
</body>