

<head class="p-3 mb-2 bg-dark text-warning">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
     h1{font-family: 'Josefin Sans', sans-serif;}
     @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  .marvelfont{
    font-family:"Bebas Neue",sans-serif;
    font-size:40px;
    color: rgb(107, 55, 55);
    text-align: center;
  }
  .center {
  text-align: center;
}
     </style>
    <h1>Comics search  </h1>
    

</head>
<body>
    <hr>
    
    
    <form method='post' action='/MarvelComics'>
        <h1 class="marvelfont">Enter comics id:</h1>
        <div class="center">
        <input type="text" name="comicID">
        <input type="submit">
        </div>
    </form>
    <% if (resultData==null){ %>
        <hr>
        <h1 class="marvelfont">No comics to display</h1>
    <% }else{ %>
        
        <hr>
       
       <ul class='comics list'>
        <% for(rd of resultData) {%>
           <li class="marvelfont">
                <h1 class="marvelfont"><%= rd.title %>
                    <%= rd.description%> 
                    <%= rd.id %> 
                    <!-- <%= rd.resourceURI %>  -->
                </h1>
                <hr>
                
               <img src="<%= rd.thumbnail.path %>/landscape_medium.jpg" width="300" alt="comicImg" class="center">
               <h1 class="marvelfont"><a href="/addComicsItem/<%= rd.id %>/<%= rd.title %>"> Add</a></h1>
               
            </li>
            <hr>
         <% } %>
       </ul>


    
    <%} %>
</body>